doctype html
html(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		//- Fonts
		link(href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,700|Overpass:300,700&display=swap", rel="stylesheet")

		//- Icons
		script(src="https://kit.fontawesome.com/52d5cbf081.js", crossorigin="anonymous")
		link(rel="icon",href="/static/media/favicon.png" type="image/x-icon")

		//- Stylesheets
		link(rel='stylesheet', href='/static/css/style.css')

		//- Scripts
		script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
		script(type='text/javascript', src='/static/js/global.js')

		//- Schema
		script(type='application/ld+json').
			{
				"@context": "http://schema.org",
				"@type": "Person",
				"name": "Tyler Willis",
				"url": "https://tylerewillis.com",
				"alumniOf" : "Bob Jones University",
				"jobTitle": "Lead Web Developer",
				"knowsAbout": ["Node.js", "JavaScript", "Pug", "PHP", "CSS", "jQuery", "Marketing", "Digital Marketing", "SEO", "SEM", "Email Marketing"]
			}

		//- Page specific head
		block head
	body

		i.fas.fa-adjust.light-dark-toggle(title='Light/Dark Mode')

		include layout/header.pug
		block content
		include layout/footer.pug