extends layout.pug

block head
	include front/head.pug
	title
	meta(name='description', content=``)
	meta(property='og:locale', content='en_US')
	meta(property='og:type', content='website')
	meta(property='og:title', content=``)
	meta(property='og:description', content=``)
	meta(property='og:image', content=`/static/media/`)

block content
	.page.page-pages
		h1 Pages
		.pages-container
			each page in pages
				a.post-single(href=`${page.url}`)
					h2 #{page.header}
					p #{page.description}
		