extends layout.pug

block head
	include front/head.pug
	title
	meta(name='description', content=``)
	meta(property='og:locale', content='en_US')
	meta(property='og:type', content='website')
	meta(property='og:title', content=``)
	meta(property='og:description', content=``)
	meta(property='og:image', content=`/static/media/`)

block content
	.page.page-pages
		h1 Pages
		p.sub-header Computer science, programming and code examples, blog posts, and small projects.
		.pages-container

			//-
			each page in pages
				.page-single
					if page.category == 'Code Examples'
						.page-icon.page-icon-code
							i.fas.fa-laptop-code
					else if page.category == 'Projects'
						.page-icon.page-icon-projects
							i.fas.fa-rocket
					.page-details
						h2 #{page.header}
						p #{page.description}
						a(href=`${page.url}`) View
							i.fas.fa-chevron-right
		