a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

audio, canvas, video {
  display: inline-block;
  max-width: 100%; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, html, input, select, textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0; }

.animsition, .animsition-overlay {
  position: relative;
  opacity: 0;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animsition-overlay-slide {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #ddd; }

.animsition-loading, .animsition-loading:after {
  width: 32px;
  height: 32px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  border-radius: 50%;
  z-index: 2; }

.animsition-loading {
  background-color: transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.2);
  border-right: 5px solid rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  border-left: 5px solid #eee;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-name: animsition-loading;
  animation-name: animsition-loading; }

@-webkit-keyframes animsition-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

@keyframes animsition-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }

.fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in; }

@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  to {
    opacity: 0; } }

.fade-out {
  -webkit-animation-name: fade-out;
  animation-name: fade-out; }

@-webkit-keyframes fade-in-up {
  0% {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-up {
  0% {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.fade-in-up {
  -webkit-animation-name: fade-in-up;
  animation-name: fade-in-up; }

@-webkit-keyframes fade-out-up {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    opacity: 0; } }

@keyframes fade-out-up {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    opacity: 0; } }

.fade-out-up {
  -webkit-animation-name: fade-out-up;
  animation-name: fade-out-up; }

@-webkit-keyframes fade-in-up-sm {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-up-sm {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.fade-in-up-sm {
  -webkit-animation-name: fade-in-up-sm;
  animation-name: fade-in-up-sm; }

@-webkit-keyframes fade-out-up-sm {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0; } }

@keyframes fade-out-up-sm {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0; } }

.fade-out-up-sm {
  -webkit-animation-name: fade-out-up-sm;
  animation-name: fade-out-up-sm; }

@-webkit-keyframes fade-in-up-lg {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-up-lg {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.fade-in-up-lg {
  -webkit-animation-name: fade-in-up-lg;
  animation-name: fade-in-up-lg; }

@-webkit-keyframes fade-out-up-lg {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0; } }

@keyframes fade-out-up-lg {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0; } }

.fade-out-up-lg {
  -webkit-animation-name: fade-out-up-lg;
  animation-name: fade-out-up-lg; }

@-webkit-keyframes fade-in-down {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-down {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.fade-in-down {
  -webkit-animation-name: fade-in-down;
  animation-name: fade-in-down; }

@-webkit-keyframes fade-out-down {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    opacity: 0; } }

@keyframes fade-out-down {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    opacity: 0; } }

.fade-out-down {
  -webkit-animation-name: fade-out-down;
  animation-name: fade-out-down; }

@-webkit-keyframes fade-in-down-sm {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-down-sm {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.fade-in-down-sm {
  -webkit-animation-name: fade-in-down-sm;
  animation-name: fade-in-down-sm; }

@-webkit-keyframes fade-out-down-sm {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0; } }

@keyframes fade-out-down-sm {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0; } }

.fade-out-down-sm {
  -webkit-animation-name: fade-out-down-sm;
  animation-name: fade-out-down-sm; }

.fade-in-down-lg {
  -webkit-animation-name: fade-in-down;
  animation-name: fade-in-down; }

@-webkit-keyframes fade-out-down-lg {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0; } }

@keyframes fade-out-down-lg {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0; } }

.fade-out-down-lg {
  -webkit-animation-name: fade-out-down-lg;
  animation-name: fade-out-down-lg; }

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

.fade-in-left {
  -webkit-animation-name: fade-in-left;
  animation-name: fade-in-left; }

@-webkit-keyframes fade-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  to {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    opacity: 0; } }

@keyframes fade-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  to {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    opacity: 0; } }

.fade-out-left {
  -webkit-animation-name: fade-out-left;
  animation-name: fade-out-left; }

@-webkit-keyframes fade-in-left-sm {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-left-sm {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

.fade-in-left-sm {
  -webkit-animation-name: fade-in-left-sm;
  animation-name: fade-in-left-sm; }

@-webkit-keyframes fade-out-left-sm {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  to {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0; } }

@keyframes fade-out-left-sm {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  to {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0; } }

.fade-out-left-sm {
  -webkit-animation-name: fade-out-left-sm;
  animation-name: fade-out-left-sm; }

@-webkit-keyframes fade-in-left-lg {
  0% {
    -webkit-transform: translateX(-1500px);
    transform: translateX(-1500px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-left-lg {
  0% {
    -webkit-transform: translateX(-1500px);
    transform: translateX(-1500px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

.fade-in-left-lg {
  -webkit-animation-name: fade-in-left-lg;
  animation-name: fade-in-left-lg; }

@-webkit-keyframes fade-out-left-lg {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  to {
    -webkit-transform: translateX(-1500px);
    transform: translateX(-1500px);
    opacity: 0; } }

@keyframes fade-out-left-lg {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  to {
    -webkit-transform: translateX(-1500px);
    transform: translateX(-1500px);
    opacity: 0; } }

.fade-out-left-lg {
  -webkit-animation-name: fade-out-left-lg;
  animation-name: fade-out-left-lg; }

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

.fade-in-right {
  -webkit-animation-name: fade-in-right;
  animation-name: fade-in-right; }

@-webkit-keyframes fade-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  to {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
    opacity: 0; } }

@keyframes fade-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  to {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
    opacity: 0; } }

.fade-out-right {
  -webkit-animation-name: fade-out-right;
  animation-name: fade-out-right; }

@-webkit-keyframes fade-in-right-sm {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-right-sm {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

.fade-in-right-sm {
  -webkit-animation-name: fade-in-right-sm;
  animation-name: fade-in-right-sm; }

@-webkit-keyframes fade-out-right-sm {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  to {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; } }

@keyframes fade-out-right-sm {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  to {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; } }

.fade-out-right-sm {
  -webkit-animation-name: fade-out-right-sm;
  animation-name: fade-out-right-sm; }

@-webkit-keyframes fade-in-right-lg {
  0% {
    -webkit-transform: translateX(1500px);
    transform: translateX(1500px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-right-lg {
  0% {
    -webkit-transform: translateX(1500px);
    transform: translateX(1500px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

.fade-in-right-lg {
  -webkit-animation-name: fade-in-right-lg;
  animation-name: fade-in-right-lg; }

@-webkit-keyframes fade-out-right-lg {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  to {
    -webkit-transform: translateX(1500px);
    transform: translateX(1500px);
    opacity: 0; } }

@keyframes fade-out-right-lg {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  to {
    -webkit-transform: translateX(1500px);
    transform: translateX(1500px);
    opacity: 0; } }

.fade-out-right-lg {
  -webkit-animation-name: fade-out-right-lg;
  animation-name: fade-out-right-lg; }

@-webkit-keyframes rotate-in {
  0% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform-origin: center center;
    opacity: 0; }
  0%, to {
    -webkit-transform-origin: center center; }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transform-origin: center center;
    opacity: 1; } }

@keyframes rotate-in {
  0% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform-origin: center center;
    opacity: 0; }
  0%, to {
    -webkit-transform-origin: center center; }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transform-origin: center center;
    opacity: 1; } }

.rotate-in {
  -webkit-animation-name: rotate-in;
  animation-name: rotate-in; }

@-webkit-keyframes rotate-out {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transform-origin: center center;
    opacity: 1; }
  0%, to {
    -webkit-transform-origin: center center; }
  to {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: center center;
    opacity: 0; } }

@keyframes rotate-out {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transform-origin: center center;
    opacity: 1; }
  0%, to {
    -webkit-transform-origin: center center; }
  to {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: center center;
    opacity: 0; } }

.rotate-out {
  -webkit-animation-name: rotate-out;
  animation-name: rotate-out; }

@-webkit-keyframes rotate-in-sm {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transform-origin: center center;
    opacity: 0; }
  0%, to {
    -webkit-transform-origin: center center; }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transform-origin: center center;
    opacity: 1; } }

@keyframes rotate-in-sm {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transform-origin: center center;
    opacity: 0; }
  0%, to {
    -webkit-transform-origin: center center; }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transform-origin: center center;
    opacity: 1; } }

.rotate-in-sm {
  -webkit-animation-name: rotate-in-sm;
  animation-name: rotate-in-sm; }

@-webkit-keyframes rotate-out-sm {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transform-origin: center center;
    opacity: 1; }
  0%, to {
    -webkit-transform-origin: center center; }
  to {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: center center;
    opacity: 0; } }

@keyframes rotate-out-sm {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transform-origin: center center;
    opacity: 1; }
  0%, to {
    -webkit-transform-origin: center center; }
  to {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: center center;
    opacity: 0; } }

.rotate-out-sm {
  -webkit-animation-name: rotate-out-sm;
  animation-name: rotate-out-sm; }

@-webkit-keyframes rotate-in-lg {
  0% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transform-origin: center center;
    opacity: 0; }
  0%, to {
    -webkit-transform-origin: center center; }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transform-origin: center center;
    opacity: 1; } }

@keyframes rotate-in-lg {
  0% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transform-origin: center center;
    opacity: 0; }
  0%, to {
    -webkit-transform-origin: center center; }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transform-origin: center center;
    opacity: 1; } }

.rotate-in-lg {
  -webkit-animation-name: rotate-in-lg;
  animation-name: rotate-in-lg; }

@-webkit-keyframes rotate-out-lg {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transform-origin: center center;
    opacity: 1; }
  0%, to {
    -webkit-transform-origin: center center; }
  to {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    transform-origin: center center;
    opacity: 0; } }

@keyframes rotate-out-lg {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transform-origin: center center;
    opacity: 1; }
  0%, to {
    -webkit-transform-origin: center center; }
  to {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    transform-origin: center center;
    opacity: 0; } }

.rotate-out-lg {
  -webkit-animation-name: rotate-out-lg;
  animation-name: rotate-out-lg; }

@-webkit-keyframes flip-in-x {
  0% {
    -webkit-transform: perspective(550px) rotateX(90deg);
    transform: perspective(550px) rotateX(90deg);
    opacity: 0; }
  to {
    -webkit-transform: perspective(550px) rotateX(0deg);
    transform: perspective(550px) rotateX(0deg);
    opacity: 1; } }

@keyframes flip-in-x {
  0% {
    -webkit-transform: perspective(550px) rotateX(90deg);
    transform: perspective(550px) rotateX(90deg);
    opacity: 0; }
  to {
    -webkit-transform: perspective(550px) rotateX(0deg);
    transform: perspective(550px) rotateX(0deg);
    opacity: 1; } }

.flip-in-x {
  -webkit-animation-name: flip-in-x;
  animation-name: flip-in-x;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flip-out-x {
  0% {
    -webkit-transform: perspective(550px) rotateX(0deg);
    transform: perspective(550px) rotateX(0deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(550px) rotateX(90deg);
    transform: perspective(550px) rotateX(90deg);
    opacity: 0; } }

@keyframes flip-out-x {
  0% {
    -webkit-transform: perspective(550px) rotateX(0deg);
    transform: perspective(550px) rotateX(0deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(550px) rotateX(90deg);
    transform: perspective(550px) rotateX(90deg);
    opacity: 0; } }

.flip-out-x {
  -webkit-animation-name: flip-out-x;
  animation-name: flip-out-x;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flip-in-x-nr {
  0% {
    -webkit-transform: perspective(100px) rotateX(90deg);
    transform: perspective(100px) rotateX(90deg);
    opacity: 0; }
  to {
    -webkit-transform: perspective(100px) rotateX(0deg);
    transform: perspective(100px) rotateX(0deg);
    opacity: 1; } }

@keyframes flip-in-x-nr {
  0% {
    -webkit-transform: perspective(100px) rotateX(90deg);
    transform: perspective(100px) rotateX(90deg);
    opacity: 0; }
  to {
    -webkit-transform: perspective(100px) rotateX(0deg);
    transform: perspective(100px) rotateX(0deg);
    opacity: 1; } }

.flip-in-x-nr {
  -webkit-animation-name: flip-in-x-nr;
  animation-name: flip-in-x-nr;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flip-out-x-nr {
  0% {
    -webkit-transform: perspective(100px) rotateX(0deg);
    transform: perspective(100px) rotateX(0deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(100px) rotateX(90deg);
    transform: perspective(100px) rotateX(90deg);
    opacity: 0; } }

@keyframes flip-out-x-nr {
  0% {
    -webkit-transform: perspective(100px) rotateX(0deg);
    transform: perspective(100px) rotateX(0deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(100px) rotateX(90deg);
    transform: perspective(100px) rotateX(90deg);
    opacity: 0; } }

.flip-out-x-nr {
  -webkit-animation-name: flip-out-x-nr;
  animation-name: flip-out-x-nr;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flip-in-x-fr {
  0% {
    -webkit-transform: perspective(1000px) rotateX(90deg);
    transform: perspective(1000px) rotateX(90deg);
    opacity: 0; }
  to {
    -webkit-transform: perspective(1000px) rotateX(0deg);
    transform: perspective(1000px) rotateX(0deg);
    opacity: 1; } }

@keyframes flip-in-x-fr {
  0% {
    -webkit-transform: perspective(1000px) rotateX(90deg);
    transform: perspective(1000px) rotateX(90deg);
    opacity: 0; }
  to {
    -webkit-transform: perspective(1000px) rotateX(0deg);
    transform: perspective(1000px) rotateX(0deg);
    opacity: 1; } }

.flip-in-x-fr {
  -webkit-animation-name: flip-in-x-fr;
  animation-name: flip-in-x-fr;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flip-out-x-fr {
  0% {
    -webkit-transform: perspective(1000px) rotateX(0deg);
    transform: perspective(1000px) rotateX(0deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(1000px) rotateX(90deg);
    transform: perspective(1000px) rotateX(90deg);
    opacity: 0; } }

@keyframes flip-out-x-fr {
  0% {
    -webkit-transform: perspective(1000px) rotateX(0deg);
    transform: perspective(1000px) rotateX(0deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(1000px) rotateX(90deg);
    transform: perspective(1000px) rotateX(90deg);
    opacity: 0; } }

.flip-out-x-fr {
  -webkit-animation-name: flip-out-x-fr;
  animation-name: flip-out-x-fr;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flip-in-y {
  0% {
    -webkit-transform: perspective(550px) rotateY(90deg);
    transform: perspective(550px) rotateY(90deg);
    opacity: 0; }
  to {
    -webkit-transform: perspective(550px) rotateY(0deg);
    transform: perspective(550px) rotateY(0deg);
    opacity: 1; } }

@keyframes flip-in-y {
  0% {
    -webkit-transform: perspective(550px) rotateY(90deg);
    transform: perspective(550px) rotateY(90deg);
    opacity: 0; }
  to {
    -webkit-transform: perspective(550px) rotateY(0deg);
    transform: perspective(550px) rotateY(0deg);
    opacity: 1; } }

.flip-in-y {
  -webkit-animation-name: flip-in-y;
  animation-name: flip-in-y;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flip-out-y {
  0% {
    -webkit-transform: perspective(550px) rotateY(0deg);
    transform: perspective(550px) rotateY(0deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(550px) rotateY(90deg);
    transform: perspective(550px) rotateY(90deg);
    opacity: 0; } }

@keyframes flip-out-y {
  0% {
    -webkit-transform: perspective(550px) rotateY(0deg);
    transform: perspective(550px) rotateY(0deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(550px) rotateY(90deg);
    transform: perspective(550px) rotateY(90deg);
    opacity: 0; } }

.flip-out-y {
  -webkit-animation-name: flip-out-y;
  animation-name: flip-out-y;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flip-in-y-nr {
  0% {
    -webkit-transform: perspective(100px) rotateY(90deg);
    transform: perspective(100px) rotateY(90deg);
    opacity: 0; }
  to {
    -webkit-transform: perspective(100px) rotateY(0deg);
    transform: perspective(100px) rotateY(0deg);
    opacity: 1; } }

@keyframes flip-in-y-nr {
  0% {
    -webkit-transform: perspective(100px) rotateY(90deg);
    transform: perspective(100px) rotateY(90deg);
    opacity: 0; }
  to {
    -webkit-transform: perspective(100px) rotateY(0deg);
    transform: perspective(100px) rotateY(0deg);
    opacity: 1; } }

.flip-in-y-nr {
  -webkit-animation-name: flip-in-y-nr;
  animation-name: flip-in-y-nr;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flip-out-y-nr {
  0% {
    -webkit-transform: perspective(100px) rotateY(0deg);
    transform: perspective(100px) rotateY(0deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(100px) rotateY(90deg);
    transform: perspective(100px) rotateY(90deg);
    opacity: 0; } }

@keyframes flip-out-y-nr {
  0% {
    -webkit-transform: perspective(100px) rotateY(0deg);
    transform: perspective(100px) rotateY(0deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(100px) rotateY(90deg);
    transform: perspective(100px) rotateY(90deg);
    opacity: 0; } }

.flip-out-y-nr {
  -webkit-animation-name: flip-out-y-nr;
  animation-name: flip-out-y-nr;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flip-in-y-fr {
  0% {
    -webkit-transform: perspective(1000px) rotateY(90deg);
    transform: perspective(1000px) rotateY(90deg);
    opacity: 0; }
  to {
    -webkit-transform: perspective(1000px) rotateY(0deg);
    transform: perspective(1000px) rotateY(0deg);
    opacity: 1; } }

@keyframes flip-in-y-fr {
  0% {
    -webkit-transform: perspective(1000px) rotateY(90deg);
    transform: perspective(1000px) rotateY(90deg);
    opacity: 0; }
  to {
    -webkit-transform: perspective(1000px) rotateY(0deg);
    transform: perspective(1000px) rotateY(0deg);
    opacity: 1; } }

.flip-in-y-fr {
  -webkit-animation-name: flip-in-y-fr;
  animation-name: flip-in-y-fr;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flip-out-y-fr {
  0% {
    -webkit-transform: perspective(1000px) rotateY(0deg);
    transform: perspective(1000px) rotateY(0deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(1000px) rotateY(90deg);
    transform: perspective(1000px) rotateY(90deg);
    opacity: 0; } }

@keyframes flip-out-y-fr {
  0% {
    -webkit-transform: perspective(1000px) rotateY(0deg);
    transform: perspective(1000px) rotateY(0deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(1000px) rotateY(90deg);
    transform: perspective(1000px) rotateY(90deg);
    opacity: 0; } }

.flip-out-y-fr {
  -webkit-animation-name: flip-out-y-fr;
  animation-name: flip-out-y-fr;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes zoom-in {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes zoom-in {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0; }
  to {
    opacity: 1; } }

.zoom-in {
  -webkit-animation-name: zoom-in;
  animation-name: zoom-in; }

@-webkit-keyframes zoom-out {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  50% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7); }
  50%, to {
    opacity: 0; } }

@keyframes zoom-out {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  50% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7); }
  50%, to {
    opacity: 0; } }

.zoom-out {
  -webkit-animation-name: zoom-out;
  animation-name: zoom-out; }

@-webkit-keyframes zoom-in-sm {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes zoom-in-sm {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0; }
  to {
    opacity: 1; } }

.zoom-in-sm {
  -webkit-animation-name: zoom-in-sm;
  animation-name: zoom-in-sm; }

@-webkit-keyframes zoom-out-sm {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  50% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }
  50%, to {
    opacity: 0; } }

@keyframes zoom-out-sm {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  50% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }
  50%, to {
    opacity: 0; } }

.zoom-out-sm {
  -webkit-animation-name: zoom-out-sm;
  animation-name: zoom-out-sm; }

@-webkit-keyframes zoom-in-lg {
  0% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes zoom-in-lg {
  0% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0; }
  to {
    opacity: 1; } }

.zoom-in-lg {
  -webkit-animation-name: zoom-in-lg;
  animation-name: zoom-in-lg; }

@-webkit-keyframes zoom-out-lg {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  50% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4); }
  50%, to {
    opacity: 0; } }

@keyframes zoom-out-lg {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  50% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4); }
  50%, to {
    opacity: 0; } }

.zoom-out-lg {
  -webkit-animation-name: zoom-out-lg;
  animation-name: zoom-out-lg; }

@-webkit-keyframes overlay-slide-in-top {
  0% {
    height: 100%; }
  to {
    height: 0; } }

@keyframes overlay-slide-in-top {
  0% {
    height: 100%; }
  to {
    height: 0; } }

.overlay-slide-in-top {
  top: 0;
  height: 0;
  -webkit-animation-name: overlay-slide-in-top;
  animation-name: overlay-slide-in-top; }

@-webkit-keyframes overlay-slide-out-top {
  0% {
    height: 0; }
  to {
    height: 100%; } }

@keyframes overlay-slide-out-top {
  0% {
    height: 0; }
  to {
    height: 100%; } }

.overlay-slide-out-top {
  top: 0;
  height: 100%;
  -webkit-animation-name: overlay-slide-out-top;
  animation-name: overlay-slide-out-top; }

@-webkit-keyframes overlay-slide-in-bottom {
  0% {
    height: 100%; }
  to {
    height: 0; } }

@keyframes overlay-slide-in-bottom {
  0% {
    height: 100%; }
  to {
    height: 0; } }

.overlay-slide-in-bottom {
  bottom: 0;
  height: 0;
  -webkit-animation-name: overlay-slide-in-bottom;
  animation-name: overlay-slide-in-bottom; }

@-webkit-keyframes overlay-slide-out-bottom {
  0% {
    height: 0; }
  to {
    height: 100%; } }

@keyframes overlay-slide-out-bottom {
  0% {
    height: 0; }
  to {
    height: 100%; } }

.overlay-slide-out-bottom {
  bottom: 0;
  height: 100%;
  -webkit-animation-name: overlay-slide-out-bottom;
  animation-name: overlay-slide-out-bottom; }

@-webkit-keyframes overlay-slide-in-left {
  0% {
    width: 100%; }
  to {
    width: 0; } }

@keyframes overlay-slide-in-left {
  0% {
    width: 100%; }
  to {
    width: 0; } }

.overlay-slide-in-left {
  width: 0;
  -webkit-animation-name: overlay-slide-in-left;
  animation-name: overlay-slide-in-left; }

@-webkit-keyframes overlay-slide-out-left {
  0% {
    width: 0; }
  to {
    width: 100%; } }

@keyframes overlay-slide-out-left {
  0% {
    width: 0; }
  to {
    width: 100%; } }

.overlay-slide-out-left {
  left: 0;
  width: 100%;
  -webkit-animation-name: overlay-slide-out-left;
  animation-name: overlay-slide-out-left; }

@-webkit-keyframes overlay-slide-in-right {
  0% {
    width: 100%; }
  to {
    width: 0; } }

@keyframes overlay-slide-in-right {
  0% {
    width: 100%; }
  to {
    width: 0; } }

.overlay-slide-in-right {
  right: 0;
  width: 0;
  -webkit-animation-name: overlay-slide-in-right;
  animation-name: overlay-slide-in-right; }

@-webkit-keyframes overlay-slide-out-right {
  0% {
    width: 0; }
  to {
    width: 100%; } }

@keyframes overlay-slide-out-right {
  0% {
    width: 0; }
  to {
    width: 100%; } }

.overlay-slide-out-right {
  right: 0;
  width: 100%;
  -webkit-animation-name: overlay-slide-out-right;
  animation-name: overlay-slide-out-right; }

* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  color: #333; }

body,
textarea,
input {
  font-family: "Merriweather Sans", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  font-family: "Overpass", sans-serif; }

.global-width {
  width: 95%;
  max-width: 1260px;
  margin: auto; }

.global-width-small {
  width: 95%;
  max-width: 900px;
  margin: auto; }

.page {
  min-height: 100vh; }

a {
  color: #036399;
  text-decoration: none; }

a:hover {
  color: #3eb7fb;
  text-decoration: none; }

.ql-size-huge {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  margin: 20px 0px 10px;
  display: inline-block; }

.ql-size-large {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  margin: 20px 0px 10px;
  display: inline-block; }

.breadcrumbs {
  padding: 10px 0px;
  font-size: 14px; }

.breadcrumbs span {
  margin: 0px 5px; }

p {
  font-size: .9em;
  line-height: 1.5em;
  margin-bottom: 1.25em;
  font-weight: 300; }

li {
  font-size: .9em;
  line-height: 1.5em;
  margin-bottom: .5em;
  font-weight: 300; }

.antispam {
  display: none; }

.alert {
  position: relative; }

.alert-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
  opacity: .5;
  font-size: 22px; }

.alert-close:hover {
  cursor: pointer;
  opacity: 1; }

.alert-center-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center; }

.alert-center {
  border-radius: 5px;
  padding: 40px;
  box-shadow: 1px 1px 1px #a9a9a9;
  min-width: 400px;
  min-height: 250px;
  max-width: 90vw;
  max-height: 90vh; }

.alert-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px; }

.alert-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px; }

.privacy-footer {
  background-color: #333;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }
  .privacy-footer p {
    color: #fff;
    margin: 0px;
    text-align: center; }
    .privacy-footer p a {
      color: #fff;
      font-weight: 900; }
    .privacy-footer p a:hover {
      text-decoration: underline; }
  .privacy-footer i {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    margin: 8px;
    cursor: pointer; }

.header-container {
  width: 95%;
  max-width: 700px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  padding: 15px 0px;
  align-items: center; }
  .header-container .header-logo img {
    width: 60px;
    height: auto; }
  .header-container .desktop-nav {
    margin: 20px 0px; }
    .header-container .desktop-nav a {
      font-size: 1em;
      margin-left: 15px; }

.mn-button {
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin-top: 3px;
  display: none; }
  @media (max-width: 1000px) {
    .mn-button {
      display: block; } }

.mn-button span {
  background-color: #333;
  height: 2px;
  width: 30px;
  display: block;
  margin-bottom: 5px;
  border-radius: 3px;
  transition: width 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.3s ease; }

.mn-button-open span {
  background-color: #fff; }

.mn-button span:nth-child(1) {
  transform: rotate(0deg) translate(0px, 0px);
  transform-origin: 0px 3px; }

.mn-button-open span:nth-child(1) {
  transform: rotate(45deg) translate(-3px, -1px);
  width: 25px; }

.mn-button-open span:nth-child(2) {
  opacity: 0; }

.mn-button span:nth-child(3) {
  transform: rotate(0deg) translate(0px, 0px);
  transform-origin: 0px -2px; }

.mn-button-open span:nth-child(3) {
  transform: rotate(-45deg) translate(-3px, 0px);
  width: 25px; }

.mobile-nav-container {
  background-color: #333;
  width: 350px;
  position: fixed;
  top: 0;
  right: 0;
  height: 105%;
  box-shadow: 3px -5px 10px #000 inset;
  margin-right: -350px;
  -webkit-transition: margin-right 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -moz-transition: margin-right 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -ms-transition: margin-right 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -o-transition: margin-right 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: margin-right 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  padding: 100px 20px; }

.mobile-nav-container-open {
  margin-right: 0px; }

.mnc-background {
  background-image: url(/static/media/brilliant.png);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.mobile-nav-container a {
  display: block;
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
  position: relative; }

.mobile-nav-container .mnc-light {
  opacity: .5; }

.mobile-nav-container hr {
  border-top: 1px solid gray; }

.body-shift {
  margin-left: -350px;
  margin-right: 350px;
  overflow: hidden; }

.page-home {
  width: 95%;
  max-width: 700px;
  margin: 0px auto; }
  .page-home .section {
    padding: 75px 0px 30px; }
  .page-home h1 {
    font-size: 60px;
    font-weight: 300;
    line-height: 70px;
    text-align: center;
    margin: 50px 0px 0px; }
    @media (max-width: 1000px) {
      .page-home h1 {
        font-size: 40px;
        line-height: 48px; } }
    .page-home h1 span {
      font-weight: 700;
      color: #002656;
      margin: 0px 12px;
      display: inline-block; }
    .page-home h1 span ~ span {
      color: #036399; }
  .page-home h2 {
    width: 100%;
    font-size: 26px;
    margin-bottom: 15px; }
  .page-home .sub-header {
    margin-bottom: 30px;
    font-style: italic;
    font-weight: 900;
    font-size: 1.1em; }

.about {
  padding-top: 70px; }
  .about p span {
    font-size: 20px;
    margin: 0px 5px; }
  .about a, .about i {
    margin: 0px 5px; }
  .about a i {
    margin: 0px 0px 0px 5px; }

.skills .sub-header {
  margin-bottom: 30px; }

.skill-node .dot {
  margin-left: 50%; }

.skill-javascript .dot {
  margin-left: 80%; }

.skill-php .dot {
  margin-left: 90%; }

.skill-css .dot {
  margin-left: 90%; }

.skill-mysql .dot {
  margin-left: 75%; }

.skill-reset .dot {
  margin-left: 0% !important;
  background-color: #d3d3d3; }

.page-home .pages .post {
  margin: 40px 0px;
  border-left: 4px solid #3eb7fb;
  padding-left: 15px; }
  .page-home .pages .post h3 {
    font-size: 20px;
    margin-bottom: 10px; }
    .page-home .pages .post h3 .page-icon {
      display: inline-block;
      margin-right: 5px; }
    .page-home .pages .post h3 .page-icon-code {
      color: #3eb7fb; }
    .page-home .pages .post h3 .page-icon-projects {
      color: #002656; }
    .page-home .pages .post h3 .page-icon-personal {
      color: #333; }
  .page-home .pages .post p {
    margin-bottom: 1em; }
  .page-home .pages .post a {
    color: #3eb7fb; }
    .page-home .pages .post a i {
      -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      -ms-transition: all 0.1s;
      -o-transition: all 0.1s;
      transition: all 0.1s; }
    .page-home .pages .post a:hover {
      color: #036399; }
      .page-home .pages .post a:hover i {
        padding-left: 8px; }

.page-home .pages a {
  font-size: 14px; }
  .page-home .pages a i {
    padding-left: 5px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s; }
  .page-home .pages a:hover i {
    padding-left: 8px; }

.post-all {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #3eb7fb;
  border-bottom: 3px solid #d3d3d3;
  width: 95%;
  max-width: 50px;
  margin: 0px auto;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s; }
  .post-all:hover {
    color: #036399;
    border-bottom: 3px solid #002656; }

.home-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0px; }
  .home-header .header-logo {
    text-align: center;
    width: 100%; }
    .home-header .header-logo img {
      width: 75px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .home-header .header-logo:hover img {
      -webkit-transform: rotate(-25deg);
      -moz-transform: rotate(-25deg);
      -ms-transform: rotate(-25deg);
      -o-transform: rotate(-25deg);
      transform: rotate(-25deg); }
    .home-header .header-logo p {
      font-family: "Overpass", sans-serif;
      color: #036399 !important;
      font-size: 18px;
      margin-top: 5px; }
  .home-header .desktop-nav {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    width: 95%;
    max-width: 550px;
    margin: 0px auto; }
    .home-header .desktop-nav a {
      font-size: 15px; }

.skills-container .sc-inner {
  position: relative;
  height: 300px; }
  .skills-container .sc-inner .sc-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }
    .skills-container .sc-inner .sc-back .scb-vertical {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-content: flex-start; }
      .skills-container .sc-inner .sc-back .scb-vertical line {
        width: 2px;
        background-color: #f2f2f2;
        height: 100%; }
    .skills-container .sc-inner .sc-back .scb-horizontal {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-content: space-around; }
      .skills-container .sc-inner .sc-back .scb-horizontal line {
        width: 100%;
        height: 2px;
        background-color: #f2f2f2; }
  .skills-container .sc-inner .sc-front {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-end;
    height: 100%;
    position: relative; }
    .skills-container .sc-inner .sc-front .sc-bars {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-content: flex-end;
      width: 100%;
      align-items: baseline;
      height: 100%; }
      .skills-container .sc-inner .sc-front .sc-bars .s-bar {
        background-color: #036399;
        width: 40px;
        box-shadow: 3px 0px 0px #3eb7fb; }

.skills-container .sc-bottom {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-top: 3px solid #002656; }
  .skills-container .sc-bottom .skill {
    width: 70px;
    text-align: center; }
    .skills-container .sc-bottom .skill span {
      display: block; }
    .skills-container .sc-bottom .skill .s-label {
      font-weight: 900;
      font-size: .95em;
      margin: .5em 0 .3em; }
    .skills-container .sc-bottom .skill .s-time {
      font-style: italic;
      font-size: .85em; }

.contact {
  text-align: center;
  margin: 100px 0px 60px; }
  .contact p {
    font-size: 1.4em; }
    .contact p a {
      font-weight: 900; }

footer {
  margin: 30px 0px;
  text-align: center; }

.legal-container {
  margin: 40px auto; }

.legal-container h1 {
  font-size: 22px;
  margin: 30px 0px; }

.legal-container ul {
  list-style: disc;
  margin: 0px 0px 20px 30px; }

.page-pages {
  width: 95%;
  max-width: 700px;
  margin: 0px auto;
  margin: 50px auto; }
  .page-pages h1 {
    font-size: 2em;
    margin-bottom: 15px; }
  .page-pages .sub-header {
    font-style: italic;
    font-size: 1em; }
  .page-pages .page-single {
    margin: 50px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative; }
    .page-pages .page-single:after {
      content: '';
      position: absolute;
      bottom: -20px;
      left: 20%;
      width: 60%;
      border-top: 1px solid #d3d3d3; }
    .page-pages .page-single .page-icon {
      width: 60px;
      height: 60px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: center; }
      .page-pages .page-single .page-icon i {
        color: #fff;
        font-size: 1.6em; }
    .page-pages .page-single .page-icon-code {
      background-color: #3eb7fb; }
    .page-pages .page-single .page-icon-projects {
      background-color: #002656; }
    .page-pages .page-single .page-icon-personal {
      background-color: #333; }
    .page-pages .page-single .page-details {
      width: calc(100% - 75px); }
      .page-pages .page-single .page-details h2 {
        margin-bottom: 15px;
        font-size: 1.3em; }
      .page-pages .page-single .page-details p {
        margin-bottom: 15px; }
      .page-pages .page-single .page-details a {
        font-size: .9em;
        display: inline-block; }
        .page-pages .page-single .page-details a i {
          padding-left: 5px; }

.social-share-container {
  width: 95%;
  max-width: 300px;
  margin: 40px 0px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  width: 200px; }
  .social-share-container p {
    margin-right: 10px;
    font-weight: 900; }
  .social-share-container a {
    height: 40px;
    width: 40px;
    border-radius: 3px;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center; }
    .social-share-container a:hover {
      color: #fff;
      background-color: #333; }
    .social-share-container a i {
      display: block;
      font-size: 1.5em; }
  .social-share-container .facebook {
    background-color: #4266B2; }
  .social-share-container .twitter {
    background-color: #1FA1F2; }
  .social-share-container .linkedin {
    background-color: #0571AE; }

.page .cards {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .page .cards .card {
    display: none;
    background-image: url("/static/media/notebook-dark.png");
    background-repeat: repeat;
    box-shadow: 5px 5px 10px #d3d3d3;
    width: 95%;
    max-width: 600px;
    margin: 10px auto 0px; }
    .page .cards .card .section {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: center;
      height: 35vh;
      padding: 0px 20px;
      overflow-y: scroll; }
    .page .cards .card .section:nth-child(2) {
      border-bottom: 2px solid gray; }
    .page .cards .card .text {
      font-size: 24px;
      line-height: 32px;
      margin: 0px; }
    .page .cards .card .bar {
      height: 7vh;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-content: center;
      padding: 0 1em; }
      .page .cards .card .bar i {
        font-size: 2.5em;
        cursor: pointer; }
      .page .cards .card .bar .index {
        font-size: 1.5em; }
  .page .cards .active {
    display: block; }

.page-example {
  width: 95%;
  max-width: 700px;
  margin: 50px auto; }
  .page-example h1 {
    font-size: 2em;
    line-height: 1.2em;
    margin: 30px auto; }
  .page-example h2 {
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 20px auto;
    color: #036399; }
  .page-example h3 {
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 40px auto 15px; }
  .page-example .example {
    position: relative;
    font-size: 14px; }
    .page-example .example .label {
      position: absolute;
      top: .5em;
      right: .5em;
      font-size: .75em; }
    .page-example .example pre {
      margin-bottom: 20px;
      border-radius: 10px 0px 10px 0px;
      box-shadow: 5px 5px 0px #3eb7fb; }
    .page-example .example code {
      tab-size: 3; }
  .page-example strong {
    font-weight: 900; }
  .page-example ul {
    list-style: disc;
    margin: 0px 0px 20px 30px; }
  .page-example img {
    box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 5px #3eb7fb;
    border-radius: 5px;
    display: block;
    margin: 30px auto;
    max-width: 100%;
    height: auto; }
  .page-example img.no-border {
    box-shadow: none; }
  .page-example img.img-small {
    max-width: 250px; }
  .page-example img.img-medium {
    max-width: 400px; }
  .page-example a {
    font-weight: 900; }
  .page-example .code-label {
    background-color: #f5f2f0;
    padding: 3px 5px;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    font-size: .9em;
    font-weight: 600; }
  .page-example em {
    font-style: italic; }
  .page-example .quote {
    border-left: 4px solid #d3d3d3;
    padding-left: 20px; }
    .page-example .quote p {
      font-style: italic; }

.example-footer hr {
  margin: 50px 100px; }

.numbers-container {
  height: 100vh;
  width: 100%;
  position: relative; }
  .numbers-container .numbers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start; }
    .numbers-container .numbers .number {
      display: inline-block;
      width: 70px;
      height: 40px;
      font-size: 1.5em;
      text-align: center;
      margin: 0px;
      color: #555; }

.sort-animation {
  animation: flash 1s forwards; }

@keyframes flash {
  0% {
    color: white; }
  100% {
    color: #555; } }

.sliding-window-example {
  width: 100%;
  border: 8px solid #d3d3d3;
  margin: 40px 0px;
  position: relative; }
  .sliding-window-example .swe-numbers {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center; }
    .sliding-window-example .swe-numbers p {
      font-size: 3em;
      margin: 0px; }
  .sliding-window-example .swe-window-left {
    width: 0%;
    background-color: #f2f2f2;
    height: 150px;
    display: inline-block;
    position: relative;
    animation: windowLeft 5s infinite linear;
    margin-bottom: -2px; }
  .sliding-window-example .swe-window-right {
    width: 50%;
    margin-left: 50%;
    background-color: #f2f2f2;
    height: 150px;
    display: inline-block;
    position: relative;
    animation: windowRight 5s infinite linear;
    margin-bottom: -2px; }

@keyframes windowLeft {
  0% {
    width: 0%; }
  90% {
    width: 50%; }
  100% {
    width: 50%; } }

@keyframes windowRight {
  0% {
    width: 50%; }
  90% {
    width: 0%; }
  100% {
    width: 0%; } }
