extends ../../layout.pug

block head
	link(rel='stylesheet', href='/static/css/prism.css')
	script(src='/static/js/prism.js')
	script(src='/static/js/pages.js')
	block pages-head

block content
	.page
		.page-example
			block example-content

			//- Footer for example pages
			.example-footer
				hr
				p Know a better way? Please let me hear about it - I'd love to learn how to code this better!
