// Flex containers
@mixin flex-container($justify: space-between,$align: null, $wrap: wrap) {
	display: flex;
	justify-content: $justify;
	flex-wrap: $wrap;
	align-content: $align;
}

// Transitions
@mixin transition($length: 0.1s, $all: all) {
	-webkit-transition: $all $length;
	-moz-transition: $all $length;
	-ms-transition: $all $length;
	-o-transition: $all $length;
	transition: $all $length;
}

// Media queries
@mixin mq($break) {
	$value: map-get($breakpoints, $break);
	@if $value == null {
		@error "`#{$break}` is not a valid breakpoint.";
	}
	@else {
		@media (max-width: $value) {
			@content;
		}
	}
}

// Global Width
@mixin global-width($margin: auto, $max-width: 1260px) {
	width: 95%;
	max-width: $max-width;
	margin: $margin;
}

// Absolute Overlay
@mixin overlay($top: 0, $left: 0, $right: 0) {
	position: absolute;
	top: $top;
	left: $left;
	right: $right;
	width: 100%;
	height: 100%;
}

// Transform
@mixin transform($name) {
	-webkit-transform: $name;
	-moz-transform: $name;
	-ms-transform: $name;
	-o-transform: $name;
	transform: $name;
}

// Animations
@mixin animation($name, $length: 0.3s, $timing: ease-in, $repeat: forwards) {
	-webkit-animation: $name $length $timing $repeat;
	-moz-animation: $name $length $timing $repeat;
	-ms-animation: $name $length $timing $repeat;
	-o-animation: $name $length $timing $repeat;
}