// =========================================/
// Pages - Landing
// =========================================/

.page-pages {
	@include global-width(0px auto, 700px);
	margin: 50px auto;
	h1 {
		font-size: 2em;
		margin-bottom: 15px;
	}
	.sub-header {
		font-style: italic;
		font-size: 1em;
	}
	.page-single {
		margin: 50px 0px;
		@include flex-container;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			bottom: -20px;
			left: 20%;
			width: 60%;
			border-top: 1px solid #d3d3d3;
		}
		.page-icon {
			width: 60px;
			height: 60px;
			border-radius: 5px;
			@include flex-container(center, center);
			i {
				color: $color-white;
				font-size: 1.6em;
			}
		}
		.page-icon-code {
			background-color: $color-primary-light;
		}
		.page-icon-projects {
			background-color: $color-primary-dark;
		}
		.page-details {
			width: calc(100% - 75px);
			h2 {
				margin-bottom: 15px;
				font-size: 1.3em;
			}
			p {
				margin-bottom: 15px;
			}
			a {
				font-size: .9em;
				display: inline-block;
				i {
					padding-left: 5px;
				}
			}
		}
	}
}

// =========================================/
// Social share container
// =========================================/

.social-share-container {
	@include global-width(0px, 300px);
	@include flex-container(space-between, center);
	width: 200px;
	p {
		margin-right: 10px;
		font-weight: 900;
	}
	a {
		height: 40px;
		width: 40px;
		border-radius: 3px;
		color: $color-white;
		@include flex-container(center, center);
		&:hover {
			box-shadow: 2px 2px 0px $color-primary;
			color: $color-primary;
			background-color: #d3d3d3;
		}
		i {
			font-size: 1.5em;
		}
	}
	.facebook {
		background-color: #4266B2;
	}
	.twitter {
		background-color: #1FA1F2;
	}
	.linkedin {
		background-color: #0571AE;
	}
}

// =========================================/
// Flashcards
// =========================================/

.page {
	.cards {
		height: 90vh;
		width: 100vw;
		@include flex-container(center);
		.card {
			display: none;
			background-image:url('/static/media/notebook-dark.png');
			background-repeat: repeat;
			box-shadow: 5px 5px 10px #d3d3d3;
			@include global-width(10px auto 0px, 600px);
			.section {
				@include flex-container(center, center);
				height: 35vh;
				padding: 0px 20px;
				overflow-y: scroll;
			}
			.section:nth-child(2) {
				border-bottom: 2px solid gray;
			}
			.text {
				font-size: 24px;
				line-height: 32px;
				margin: 0px;
			}
			.bar {
				height: 7vh;
				@include flex-container(space-between, center);
				padding: 0 1em;
				i {
					font-size: 2.5em;
					cursor: pointer;
				}
				.index {
					font-size: 1.5em;
				}
			}
		}
		.active {
			display: block;
		}
	}
}

// =========================================/
// Examples
// =========================================/

.page-example {
	@include global-width(50px auto, 700px);
	h1 {
		font-size: 2em;
		line-height: 1.2em;
		margin: 30px auto;
	}
	h2 {
		font-size: 1.3em;
		line-height: 1.5em;
		margin: 20px auto;
		color: $color-primary;
	}
	h3 {
		font-size: 1.2em;
		line-height: 1.5em;
		margin: 20px auto 15px;
	}
	.example {
		position: relative;
		.label {
			position: absolute;
			top: .5em;
			right: .5em;
			font-size: .75em;
		}
		pre {
			margin-bottom: 20px;
			border-radius: 5px 0px 0px 0px;
			box-shadow: 3px 3px 0px $color-primary;
		}
		code {
			font-size: .96em;
			line-height: 1.3;
		}
	}
	strong {
		font-weight: 900;
	}
	ul {
		list-style: disc;
		margin: 0px 0px 20px 30px;
	}
	img {
    box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 5px $color-primary-light;
    border-radius: 5px;
    display: block;
    margin: 30px auto;
    max-width: 100%;
    height: auto;
	}
	a {
		font-weight: 900;
	}
}

// =========================================/
// Example Footer
// =========================================/

.example-footer {
	hr {
		margin: 50px 100px;
	}
}

// =========================================/
// Sorting Animations
// =========================================/

.numbers-container {
	height: 100vh;
	width: 100%;
	position: relative;
	.numbers {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-black;
		@include flex-container(space-between, flex-start);
		.number {
			display: inline-block;
			width: 70px;
			height: 40px;
			font-size: 1.5em;
			text-align: center;
			margin: 0px;
			color: #555;
		}
	}
}
.sort-animation {
	animation: flash 1s forwards;
}
@keyframes flash {
	0% {color: white;}
	100% {color: #555;}
}

// =========================================/
// Sliding windows
// =========================================/

.sliding-window-example {
	width: 100%;
	border: 8px solid #d3d3d3;
	margin: 40px 0px;
	position: relative;
	.swe-numbers {
		position: absolute;
		width: 100%;
		height: 100%;
		@include flex-container(space-around, center);
		p {
			font-size: 3em;
			margin: 0px;
		}
	}
	.swe-window-left {
		width: 0%;
		background-color: #f2f2f2;
		height: 150px;
		display: inline-block;
		position: relative;
		animation: windowLeft 5s infinite linear;
		margin-bottom: -2px;
	}
	.swe-window-right {
		width: 50%;
		margin-left: 50%;
		background-color: #f2f2f2;
		height: 150px;
		display: inline-block;
		position: relative;
		animation: windowRight 5s infinite linear;
		margin-bottom: -2px;
	}
}
@keyframes windowLeft {
	0% {width: 0%;}
	90% {width: 50%;}
	100% {width: 50%;}
}
@keyframes windowRight {
	0% {width: 50%;}
	90% {width: 0%;}
	100% {width: 0%;}
}