// =========================================/
// Examples
// =========================================/

.project {
	.page-example {
		.example-footer {
			.ef-keywords {
				p {
					margin-right: 10px;
					font-weight: 500;
					display: inline-block;
				}
			}
		}
	}
}