extends ../projects/projects/layout.pug

block projects-head
	include ../projects/projects/meta.pug

block example-content
	.write-up
		h1 Make your website accessible to individuals with disabilities
		h2 Use Case: To help website owners reach ADA compliance and make websites user-friendly to disabled individuals
		p Gazeble is plugin that you install on your website that helps you make your website ADA accessible and compliant. It comes with an advanced user interface, behind-the-scenes optimizations and helpful recommendations.
		p There's an obvious need for this - websites are required to be accessible to individuals with disabilities via the Americans with Disabilities Act. Yes, 
			a(href='https://gazeble.com/blog/website-accessibility-lawsuits' target='_blank') you can get sued for not having your website accessible
			| . But, more importantly, about 26% of the people that visit your website likely have a disability that effects their experience on your site to some extent or another.
		p Because of this, it's even more important to make your site accessible to help your potential customers and, to be frank, to just make the internet a better place.
		p Don't understand the complications, read this other article about 
			a(href='https://gazeble.com/blog/person-disability-website-use' target='_blank') what it's like to use a website as a disabled individual
			| .

		h3 Advanced User Interface
		p Gazeble is very simple for both businesses and users, despite having a very advanced user interface. Advanced in this case is referring to the amount of user options - not the complication level!
		p The user has the ability to override content, design and navigation settings to make the site fit their needs. Additionally, the interface will store the user's preferences in cookies on the site so that each page and session will reload their preferences.
		img(src='/static/media/ui-screenshot-1.png' alt='gazeble screenshot')
		img(src='/static/media/ui-screenshot-2.png' alt='gazeble screenshot')
		img(src='/static/media/ui-screenshot-3.png' alt='gazeble screenshot')

		h3 Behind-the-scenes Accessibility Optimization
		p The user interface fulfills much of the accessibility requirements, but Gazeble will also perform a handful of behind-the-scenes optimizations on each page load as well, such as correcting input fields without labels and images without alternative text.

		h3 Accessibility Recommendations
		p Whenever there is a scenario where Gazeble is unable to accurately optimize your content for accessibility, you can scan through a list of recommendations with links to helpful resources for how you can make sure the page element is optimized.
		img(src='/static/media/ui-screenshot-4.png' alt='gazeble screenshot')

		p You can 
			a(href='https://gazeble.com/sign-up', target='_blank') sign up
			|  for Gazeble today or click to 
			a(href='https://gazeble.com' target='_blank') learn more about Gazeble's features
			| .