extends ../projects/projects/layout.pug

block projects-head
	include ../projects/projects/meta.pug

block example-content
	.write-up
		h1 
		h2 Use Case:
		p 

		.example
			p.label JavaScript
			pre
				code.language-javascript
					
					
		.example
			p.label PHP
			pre
				code.language-php
					