extends ../pages/pages/layout.pug

block pages-head
	include ../pages/pages/meta.pug

block example-content
	.write-up
		h1 
		h2 Use Case:
		p 

		.example
			p.label JavaScript
			pre
				code.language-javascript
					
					
		.example
			p.label PHP
			pre
				code.language-php
					