extends ../pages/pages/layout.pug

block pages-head
	title 
	meta(name='description', content='')
	meta(property='og:locale', content='en_US')
	meta(property='og:type', content='website')
	meta(property='og:title', content='')
	meta(property='og:description', content='')
	meta(property='og:image', content='/static/media/social-media.png')
	meta(property='og:url', content=`${url}`)

	//- Schema
	script(type='application/ld+json').
		{
			"@context": "http://schema.org",
			"@type": "BlogPosting",
			"author": "Tyler Willis",
			"headline": "",
			"about": "",
			"inLanguage": "en-US",
			"keywords": "JavaScript, PHP, string balance, constant time, linear time"
		}

block example-content
	.write-up
		h1 
		h2 Use Case:
		p 

		.example.javascript-example
			p.label JavaScript
			pre
				code.language-javascript
					
					
		.example.php-example
			p.label PHP
			pre
				code.language-php
					