//- .ad
//- 	a(href='https://bitmtn.com/accessibility' target='_blank')
//- 		img(src='/static/media/bitmtn-ad-1.png' alt='ad for website accessibility plugin')

.text-ad
	p Hey, Tyler here. I'm currently working on some great web development and digital marketing products and services over at ZeroToDigital.
	p If that sounds interesting to you, please 
		a(href='https://zerotodigital.com' target='_blank') check it out
		| !