//- .ad
//- 	a(href='https://bitmtn.com/accessibility' target='_blank')
//- 		img(src='/static/media/bitmtn-ad-1.png' alt='ad for website accessibility plugin')

.text-ad
	p Hey, Tyler here. I'm currently building a new platform called Leaflet which helps users build and promote simplistic websites for their portfolios, blogs, businesses - you name it.
	p If you're interested, please 
		strong claim your unique url
		|  while it's still available and 
		a(href='https://leafletl.com' target='_blank') join the waiting list
		| !