.contact.section#contact
	p Tweet me 
		a(href='https://twitter.com/TylerEWillis' target='_blank') @tylerewillis

	p Or send an email: 
		a(href='' class='email')
	.newsletter

	//- Generate email
	script.
		const address = 'tyler'
		const domain = 'tylerewillis.com'
		const emailAddress = `${address}@${domain}`
		$('.email').attr('href', `mailto:${emailAddress}`)
		$('.email').text(emailAddress)

footer
	p &copy;#{new Date().getFullYear()} Tyler Willis

	//- Googla Analytics
	script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-74122239-1")
	script.
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-74122239-1');

	//- SEOMtn
	script(src='https://seomtn.com/s/s.js' id='zEs2foRHcwHFk')