header
	.header-container
		a.header-logo(href='/')
			img(src='/static/media/logo.png')
			p Tyler Willis

		//-
		.desktop-nav
			a.nav-about(href='/#about') About
			a.nav-skills(href='/#skills') Skills
			a.nav-pages(href='/pages') Pages
			a.nav-products(href='/products') Products
			a.nav-contact(href='/#contact') Contact
