extends products/layout.pug

block head
	title From Zero to Computer Scientist - A Step-by-Step Guide
	meta(name='description', content='')
	meta(property='og:locale', content='en_US')
	meta(property='og:type', content='website')
	meta(property='og:title', content='From Zero to Computer Scientist - A Step-by-Step Guide')
	meta(property='og:description', content='')
	meta(property='og:image', content='/static/media/social-media.png')
	meta(property='og:url', content=`${url}`)

	//- Schema
	script(type='application/ld+json').
		{
			"@context": "http://schema.org",
			"@type": "BlogPosting",
			"author": "Tyler Willis",
			"headline": "From Zero to Computer Scientist - A Step-by-Step Guide",
			"about": "",
			"inLanguage": "en-US",
			"keywords": "programming, computer science, html, css, javascript, node.js"
		}

block content

	//- Introduction of program
	.intro

	//- How to use it
	.how-to

	//- CATEGORY: Learning the Basics of Coding
	.category
		h2 Learning the Basics of Coding

		//- HTML
		.section
			h2 HTML

		//- CSS
		.section
			h2 CSS

		//- JavaScript
		.section
			h2 JavaScript

	//-------------------------------------------------------------
	//-
	//-
	//- CATEGORY: An Overview of Computer Science
	//-
	//-
	//-------------------------------------------------------------
	.category
		h2 An Overview of Computer Science
		p.cat-summary

		//-----------------------------------------------------------
		//- SECTION: An Overview of Computer Science
		//-----------------------------------------------------------
		.section
			h3 History
			p.section-summary

			//- CHECK: An Overview of Computer Science
			.check
				input(type='checkbox')
				p.check-summary 




	//-------------------------------------------------------------
	//-
	//-
	//- CATEGORY: Server-side Programming
	//-
	//-
	//-------------------------------------------------------------
	.category
		h2 Server-side Programming


	//-------------------------------------------------------------
	//-
	//-
	//- CATEGORY: Using Computer Science to Write Efficient Programs
	//-
	//-
	//-------------------------------------------------------------
	.category
		h2 Using Computer Science to Write Efficient Programs